html {
    /* px means 'pixels': the base font size is now 10 pixels high */
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-color: #191970;
}

body {
    margin: 1px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
nav {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: -17px; 
}

#resume {
    font-color: white;
    text-decoration: none;
    width: 100px;
    padding: 15px;
    font-size: 13px;
    letter-spacing: 2px;
    background-color: #4BD9A9;
    margin-right: 50px;
    border-radius: 4px;
}

#bio {
    font-color: white;
    width: 100px;
    text-decoration: none;
    padding: 15px;
    font-size: 13px;
    letter-spacing: 2px;
    background-color: #4BD9A9;
    border-radius: 4px;
}

#resume:visited {
    color: white;
}

#bio:visited {
    color: white;
}

#resume:hover{
    color: #808080;
}

#bio:hover {
    color: #808080;
}

h1 {
    font-size: 60px;
    color: #00008B;
    padding-bottom: 10px;
    border-style: solid;
    border-top-color: white; 
    border-left-color: white;
    border-right-color: white ;
    border-bottom-color: black;
}

.period {
    color: #4BD9A9;
    padding-left: 0px;
}
body {
    text-align: center;
}

img {
    max-width:20%;
    max-height:20%;
    float:left ;
}
